@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
  background-color: #000000;
  margin: 0px; 
}
html {
  scroll-behavior: smooth;
}

.container{
    display: flex;
    justify-content:center;
    justify-items: center;
    background-color:#000000 ;
    position: fixed;
    width: 100%;
}
.navbar{
  background-color: #000000;
  color: #F6F6F6;
  font-family: "Oswald";
  font-size: 16px;
  top: 0;
  z-index: 1000;
}
.navbar ul{
  list-style: none;
  display: flex;
}
.navbar ul li{
  padding: 20px;
} 
.navbar ul li a{
  text-decoration: none;
  color: #F6F6F6;
  transition: 0.3s;
}
.navbar ul li a:hover{
  color: #7dc5af;
}
.container .social ul{
  list-style: none;
  display: flex;
  margin-right: 25px;
}
.container .social ul li{
  padding: 20px;
}
.container .social ul li a img{
  width: 25px ;
}
.caption {
  display: flex;
  justify-self: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  height: 100VH;
}
.caption .Myimg{
  
  background-color: #7dc5af;
  width: 30%;
}
.caption .Myimg img{
  
  width: 100%;
  margin-top: 125px;
  margin-left: 30px;
}
.caption .myInfo{
  padding-top: 60px;
  background-color: #000000;
  margin: 100px;
  color: #F6F6F6;
  font-family: "Oswald";
}

.caption .myInfo button{
  padding: 15px;
  border: 3px solid #A2D5C6;
  color: #000000;
  background-color: #7dc5af;
  border-radius: 8px;
  font-family: "Oswald";
  width: 200px;
  font-size: 18px;
  transition: transform 0.3s ease;
  margin-top: 40px;
}
.caption .myInfo button:hover{
  background-color: #7dc5af;
  transform: scale(1.1);
}

.about{
  font-family: "Oswald";
  color: #F6F6F6;
  font-size: 20px;
  height: 70vh;
  display: flex;
  scroll-margin-top: 80px;
}
h2{
  margin-top: 100px ;
  font-size: 40px;
  color: #F6F6F6;
  font-family: "Oswald";
  padding: 20px;
}

.about .sideBar{
  width:9px;
  height: 330px;
  background-color: #7dc5af;
  border-radius: 30px;
  margin: 10px;
}
.about .content{
  text-align: left;
  height: 250px;
  padding: 25px;
  background-color: rgba(125, 197, 176, 0.2);
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
  padding-top: 80px;
}
.content:hover{
  transform: scale(1.03);
}
 .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 60px 20px;
  background-color: #000;
  min-height: 50vh;
  font-family: "Oswald", sans-serif;
  color: #F6F6F6;
}

.project-card {
  background-color: rgba(125, 197, 176, 0.2);
  border-radius: 20px;
  width: 300px;
  padding: 30px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.03);
}

.project-card h2 {
  font-size: 24px;
  margin-top: -5px;
  margin-bottom: 15px;
  color: #7dc5af;
  height: 100px;
}

.project-card p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.buttons a {
  background-color: #7dc5af;
  color: black;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.buttons a:hover {
  background-color: #7dc5af;
}
.skills{
  color: #F6F6F6;
  font-family: "Oswald";
  font-size: 20px;
  display: flex;
  height: 70vh;
  gap: 30px;
  justify-content: center;
  justify-items: center;
}
.skills .skills-card{
  background-color: rgba(125, 197, 176, 0.2);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
  height: 400px;
  padding: 20px;
  border-radius: 20px;
}
.skills .skills-card h3{
  color:#7dc5af ;
}
.skills .skills-card:hover{
  transform: scale(1.03);
}
.cont{
  color: #F6F6F6;
  font-family: "Oswald";
  display: flex;
  gap: 60px;
  height: 70vh;
}
.contact{
    font-size: 23px; 
    padding: 60px 20px;
    color: #7dc5af;
}
.contact-card{
  background-color: rgba(125, 197, 176, 0.2);
  border-radius: 20px;
  width: 40%;
  height: 370px;
  justify-content: center;
  padding: 20px 50px;
  line-height: 22px;
  background-color: rgba(125, 197, 176, 0.2);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  transition:  0.3s ease;
}
.contact-card:hover{
   transform: scale(1.03);
}
.contact-card a{
   text-decoration: none;
  color: #F6F6F6;
  font-size: 16px;
}
.contact-card h3{
  color: #7dc5af;
  font-size: 24px;
}
.card-item{
  float: left;
}